body {
text-align: center;
background-image: linear-gradient(blue,green,red);
}
#family_img{
    width: 290px;
}
button{
    font-size: 25px;
    background-color: blueviolet;
    border-radius: 20%;
    color: forestgreen;
}
h1{
    font-size: 40px;
    color: rgb(red, green, blue);
    text-decoration: underline;
}
h3{
    font-size: 30px;
    color: purple;
    font-weight: bold;
    text-decoration: underline;
}